<ion-view hide-nav-bar="true" title="{{ 'SEARCH_RESULTS' | translate }}" ng-controller="findClaimsResultCtrl">

    <div class="header-figma-arrow">
        <svg width="19" height="19" ng-click="goToBack()" viewBox="0 0 19 19" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M14.8025 7.67752V9.23611H5.15408L9.5701 13.6892L8.45682 14.8025L2.11111 8.45682L8.45682 2.11111L9.5701 3.2244L5.15408 7.67752H14.8025Z"
                fill="white" />
        </svg>
        <h1 ng-bind="'SEARCH_RESULTS' | translate"></h1>
    </div>

    <ion-content padding="true" has-bouncing="false" class="provider-search-result padding0 content2-figma"
        style="padding:0px 9px">

        <div style="display: flex;
        justify-content: flex-end;
        margin-right: 33px;" ng-if="providerType == 'Doctor'">
            <i style="position: absolute;right: 15px;" ng-click="showInfoDis()"
                class="icon ion-information-circled stable price-range-info"></i>
            <span class="dark-blue-text roboto-bold" style="font-size: 13px;">
                <span ng-bind="'STATESPECIFICDIS' | translate"></span>
            </span>
        </div>
        <div class="list contentFilterButton" style="display: flex;
        align-items: center;
        justify-content: space-around;">
            <div class="roboto-bold">
                {{ 'SORT_BY' | translate }}:
                <span class="dark-blue-text roboto-bold">
                    <select ng-model="filter.sortKey" class="no-border dark-blue-text bold-text" style="width: auto;">
                        <option ng-repeat="(key, value) in sortOptions" value="{{ value }}">{{ key | translate }}
                        </option>
                    </select>
                </span>
            </div>
            <button type="button" class="button button-stable button-small button-cancel-figma"
                ng-click="showFilters()">{{ 'FILTER' | translate }}</button>
            <!-- <i style="text-align: right" ng-click="showInfo()"
                class="icon ion-information-circled stable price-range-info"></i> -->
        </div>



        <form class="list reg-form form-group" name="searchForm">
            <div class="list">
                <label class="item item-input  item-select-figma"
                    ng-class="{ 'has-error': searchForm.$submitted && searchForm.name.$invalid }">
                    <input type="text" placeholder="{{ 'SEARCH_BY_KEYWORD' | translate }}" ng-model="filter.search"
                        name="name" ng-required="true">
                </label>
            </div>
        </form>



        <div class="doctor-list">

            <div ng-repeat="claim in claimsListFiltered = (claimsList | filter:filter.search | filter : filter.type | filter : filter.year | orderBy:filter.sortKey)"
                class="list list-inset cardFigmaResult">
                <!-- <div class="list"> -->

                <div class="item item-text-wrap ">

                    <div class="dark-blue-text bold-text row">
                        <div class="col">
                            <span style="color:#8FA93F">{{claim.ProviderName}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col specialization-txt dark-green-text item-text-wrap">View {{ claim.ClaimType}}
                            Claim
                            #{{
                            claim.ClaimId }}
                        </div>
                    </div>

                    <div class="row detailed-info" style="padding:0">
                        <div class="col col-40"> <span class="text-title-radio" style="font-weight: bold;    font-size: 12px;
                            line-height: 6px !important;">Amount
                                Billed</span>: </div>
                        <div class="col col-60">
                            <div class="">
                                <div class="row flex-end">
                                    <span class="text-title-radio" style="font-size: 12px;">{{claim.SaveAmount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row detailed-info" style="padding:0">
                        <div class="col col-40"> <span class="text-title-radio" style="font-weight: bold;     font-size: 12px;
                            line-height: 6px;">Plan
                                Allowed</span>: </div>
                        <div class="col col-60">
                            <div class="">
                                <div class="row flex-end">
                                    <span class="text-title-radio"
                                        style="font-size: 12px;">{{claim.TotalAllowed}}</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row detailed-info" style="padding:0">
                        <div class="col col-40"> <span class="text-title-radio" style="font-weight: bold;    font-size: 12px;
                                line-height: 6px;">Savings</span>: </div>
                        <div class="col col-60">
                            <div class="">
                                <div class="row flex-end">
                                    <span class="text-title-radio"
                                        style="font-size: 12px;">{{claim.TotalCharges}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row detailed-info">
                        <div class="col"> <span>
                                {{ (claim.ReturnDate | date:'MM/dd/yyyy')}}

                            </span></div>
                    </div>


                    <div class="row detailed-info">
                        <div class="col col-100 stable detailed-info mt-4" ng-click="goToMessage(claim.ClaimId)">
                            <button type="button" class="button button-stable button-small button-cancel-figma" style="    text-transform: capitalize;
                            font-size: 12px !important;
                            padding: 0px 20px;">Submit to PAC</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script id="filters.html" type="text/ng-template">

            <ion-modal-view class="border-radius-10 filter-color">
                <div class="header-figma-arrow">
                    <svg width="19" height="19" ng-click="hideFilters()" viewBox="0 0 19 19" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.8025 7.67752V9.23611H5.15408L9.5701 13.6892L8.45682 14.8025L2.11111 8.45682L8.45682 2.11111L9.5701 3.2244L5.15408 7.67752H14.8025Z"
                        fill="white" />
                    </svg>
                    <h1 ng-bind="'FILTER_BY' | translate"></h1>
                </div>

                <ion-content class="content2-figma" style="padding:10px 10px">
                    <div class="list list-inset">
                 
            <!-- <div class="list list-inset">
                <label class="item item-input" ng-class="{ 'has-error': regForm.$submitted && regForm.DOB.$invalid }">
                    <label ng-if="!filter.dateFrom" style="position: absolute; color : #757575">Date from</label>
                    <input type="date" placeholder="Date from" ng-model="filter.dateFrom" name="DOB"
                        ng-required="true">

                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input" ng-class="{ 'has-error': regForm.$submitted && regForm.DOB.$invalid }">
                    <label ng-if="!filter.dateTo" style="position: absolute; color : #757575">Date to</label>
                    <input type="date" placeholder="Date to" ng-model="filter.dateTo" name="DOB"
                        ng-required="true">

                </label>
            </div> -->
            <span class="text-title-radio ml-2"><b><span ng-bind="'BY_CLAIM_TYPE' | translate"></b></span>

            <div class="list list-inset location-option location-option-figma mt-12">
                <label class="item item-icon-right">
                    <input type="radio" ng-model="filter.type" value="Facility" required />
                    Facility
                    <i ng-if="filter.type == 'Facility'" class="icon ion-checkmark custom-tick"></i>
                </label>
                <label class="item item-icon-right border-top-gray">
                    <input type="radio" ng-model="filter.type" value="Physician" required />
                    Physician
                    <i ng-if="filter.type == 'Physician'" class="icon ion-checkmark custom-tick"></i>
                </label>
            </div>

            <span class="text-title-radio ml-2"><b><span ng-bind="'BY_YEAR' | translate"></b></span>
            <div class="list list-inset location-option location-option-figma mt-12">
                <label class="item item-icon-right">
                    <input type="radio" ng-model="filter.year" value="2022" required />
                    2022
                    <i ng-if="filter.year == '2022'" class="icon ion-checkmark custom-tick"></i>
                </label>
                <label class="item item-icon-right border-top-gray">
                    <input type="radio" ng-model="filter.year" value="2021" required />
                    2021
                    <i ng-if="filter.year == '2021'" class="icon ion-checkmark custom-tick"></i>
                </label>
            </div>

                    </div>


                     <div class="list list-inset hor-center-align">
                        <div class="row">
                            <div class="col">
                                <button class="button button-stable btn-filter button-next-figma" ng-click="applyFilter()">{{ 'APPLY_FILTER' | translate }}</button>
                            </div>
                            <div class="col">
                                <button class="button button-stable btn-filter button-cancel-figma" ng-click="clearFilter()">{{ 'CLEAR_FILTER' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>

    </ion-content>
</ion-view>